<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="connectionString" value="server=mysql.ctep.net.br;database=ctep01;user=ctep01;password=ctepdev01"/>
    <add key="planilhaBoletos" value="E:\titulos.csv"/>
  </appSettings>
</configuration>